RAG Pipeline & Chatbot.json
{
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "## RAG Pipeline & Chatbot \n",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -80
      ],
      "typeVersion": 1,
      "id": "b629dabf-7950-42bb-aaf7-0edf7ecd8ec0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1sv7xFi36njhTHciMYPGjBoWGWogUzKBJ",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1sv7xFi36njhTHciMYPGjBoWGWogUzKBJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        64
      ],
      "id": "6836fb6a-c746-48f4-9b94-9028c8a404cc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lSbNcQDHcqeV75xy",
          "name": "muskkaniyer@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        64
      ],
      "id": "20efe1af-3865-4586-bab5-e0a8c51e9caa",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lSbNcQDHcqeV75xy",
          "name": "muskkaniyer@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        64
      ],
      "id": "6bb672d6-3053-435d-b648-6b66f7c20b37",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "pZH6PKKT3OTlZMwF",
          "name": "demo-rag"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        416,
        272
      ],
      "id": "1240ac62-6774-440f-b00a-43f4c075131a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        272
      ],
      "id": "d0588d84-49fe-4c7f-a675-6099105c161c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DSUd300qpJcVFnVp",
          "name": "Demo RAG"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        80
      ],
      "id": "8232cb0e-e86c-486e-9874-89aadc88d567",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        672,
        80
      ],
      "id": "0f526ccd-6a51-4c0a-82f8-5114549a4d58",
      "name": "When chat message received",
      "webhookId": "c9ba4a89-cb23-4163-a1a7-b6dba5ecaf92"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        240
      ],
      "id": "9acb85ae-19d1-4eb5-951c-48f13289254f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DSUd300qpJcVFnVp",
          "name": "Demo RAG"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1280,
        128
      ],
      "id": "7c677854-180f-4421-8a43-c8c6b4a69571",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "pZH6PKKT3OTlZMwF",
          "name": "demo-rag"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        320
      ],
      "id": "460fa18c-6f9d-48e1-ae05-6d3e7e9e1919",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DSUd300qpJcVFnVp",
          "name": "Demo RAG"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b695781d-be3b-488b-aa06-191f9b24b6c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "702ecc84f22514192fa13b6ae642443b6ecf38acb05d7d2505e109aa4b0ad891"
  },
  "id": "BE5u3kPdnVbWgjp9",
  "tags": []
}